<!DOCTYPE html>
<html layout:decorate="~{ _layout/base }">
    <head>
        <title>Necesito Ayuda</title>
    </head>

    <body>
        <div layout:fragment="BODY" class="vbox">

            <section>
                <section class="hbox stretch">
                    <section id="content">
                        <section class="vbox" >

                            <section class="wrapper-lg scrollable">
                                <div class="panel wrapper-lg bg-white"> 
                                    <div class="row">


                                        <form data-parsley-validate="true" class="form-horizontal col-md-8 col-md-offset-2" method="POST">

                                            <div class="form-group">
                                                <label   class="col-md-3 control-label">Empresa</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="empresa" name="empresa" required="true" data-parsley-trigger="change"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label   class="col-md-3 control-label">Email</label>
                                                <div class="col-md-6">
                                                    <input type="email" class="form-control" name="email" required="true" autocomplete="off" data-parsley-trigger="change"/>
                                                </div>
                                            </div>

                                            <div class='form-group text-center'>
                                                <a class='btn btn-link' th:href="@{/}">Cancelar</a>
                                                <button class='btn btn-info' type='submit'>Verificar</button>
                                            </div>   
                                        </form>
                                    </div>
                                </div>
                            </section>

                        </section>
                    </section>
                </section>
            </section>
        </div>


        <div layout:fragment="JS" th:remove="tag">
            <!--<script th:src="@{/app/security/ayuda.js}" charset="utf-8"/>-->
        </div>
    </body>
</html>
