<html layout:decorator="_layout/top">
    <head>
        <title>Actualizar Contraseña</title>
    </head>

    <body>
        <section layout:fragment="MAIN">

            <div id="changepasswordVUE" class="col-sm-12 col-md-6 col-md-offset-3">
                <div v-cloak="">
                    <div class="bg-white panel">
                        <div class="panel-heading">
                            <header class="page-header m-t-sm">
                                <p class="h2 m-b-sm"> Cambiar contraseña </p>
                            </header>
                        </div>
                        <section class="panel-body">
                            <form class="form-horizontal" role="form" id="form" >
                                <div class="form-group">
                                    <label for="nueva" class="col-md-3 control-label"> Nueva contraseña </label>
                                    <div class="col-md-7">
                                        <input id="nueva"  class="form-control" type="password" required="" v-model="passwo"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmacion" class="col-md-3 control-label"> Confirmar contraseña </label>
                                    <div class="col-md-7">
                                        <input id="confirmacion" class="form-control" type="password" required="" data-parsley-equalto="#nueva"/>
                                    </div>
                                </div>
                            </form>
                        </section>
                        <div class="panel-footer">
                            <div class="text-center">
                                <button class="btn btn-primary" type="button" v-on:click="save" v-bind:disabled="saving"> {{ saving ? 'Procesando' : 'Actualizar contraseña' }} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div layout:fragment="JS" th:remove="tag">
            <script th:src="@{/app/security/changepassword.js}" charset="utf-8"></script>
        </div>
    </body>
</html>

