<html layout:decorator="_layout/top">
    <head>
        <title> Editar Accesos </title>
    </head>

    <body>
        <section layout:fragment="MAIN">
            <div id="rolesFormVUE">
                <div class="col-md-8 col-md-offset-2 v-cloak">
                    <div class="bg-white panel">
                        <div class="panel-heading">
                            <header class="page-header m-t-sm">
                                <a class="btn btn-default pull-right" href="/seguridad/roles">Volver</a>
                                <p class="h2 m-b-sm"> {{ rol.nombre }} </p>
                            </header>
                        </div>
                        <div id="form" data-parsley-validate="true">
                            <div class="panel-body">
                                <div class="col-md-6">
                                     <table class="table table-striped" v-for="menu in lista1">
                                        <thead>
                                            <tr>
                                                <th class="col-md-8"> {{ menu.nombre }} </th>
                                                <th class="col-md-4"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="mr in menu.submenus">
                                                <td class="v-middle"> 
                                                    <span> {{ mr.menu.nombre }} </span> 
                                                </td>
                                                <td class="v-middle"> 
                                                    <div>
                                                        <label class="switch m-b-n m-t-xs">
                                                            <input type="checkbox" v-model="mr.encontrado"/>
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-striped" v-for="menu in lista2">
                                        <thead>
                                            <tr>
                                                <th class="col-md-8"> {{ menu.nombre }} </th>
                                                <th class="col-md-4"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="mr in menu.submenus">
                                                <td class="v-middle"> 
                                                    <span> {{ mr.menu.nombre }} </span> 
                                                </td>
                                                <td class="v-middle"> 
                                                    <div>
                                                        <label class="switch m-b-n m-t-xs">
                                                            <input type="checkbox" v-model="mr.encontrado"/>
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="text-right">
                                    <button v-bind:disabled="saving" class="btn btn-primary" v-on:click="save"> 
                                        <i v-if="saving" class="fa fa-spinner fa-pulse"></i>
                                        {{ saving ? 'Procesando' : 'Actualizar rol' }}    
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div layout:fragment="JS" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var menus = /*[[${menus.toString()}]]*/ 'json';
                var rol = /*[[${rol.toString()}]]*/ 'json';
                /*]]>*/
            </script> 
            <script th:src="@{/app/security/roles/rolesForm.js}" charset="utf-8"></script>
        </div>

    </body>
</html>