<html layout:decorator="_layout/top">
    <head>
        <title>Roles</title>
        <style>
            .input-group-addon{
                z-index: 0;
            }
            .input-group .form-control{
                z-index: 0;
            }
            .imagen {
                height: 80px;
                width: 80px;
            }
            .img-thumbnail {
                padding: 0px;
            }
            .btn btn-default dropdown-toggle{
                z-index: 0;
            }
        </style>
    </head>

    <body>
        <section layout:fragment="MAIN">

            <div class="panel wrapper-md v-cloak" id="rolesVUE">
                <div class="panel-heading">
                    <div class="pull-right">                
                        <a class="btn btn-primary" v-on:click="nuevoRol">Nuevo</a>
                    </div>
                    <p class="h2">  Roles </p>
                </div>

                <div class="panel-body">
                    <div class="col-md-offset-2 col-md-8">
                        <roles-raptor inline-template="true" ref="table">
                            <raptor-table v-bind:url="url" ref="raptor">
                                <template scope="props">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-6">Nombre</th>
                                                <th class="col-md-6 text-center"> Accesos </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data"> 
                                                <td class="v-middle"> 
                                                    <span class="block text-primary"> {{item.nombre}} </span>
                                                    <small class="block text-muted"> {{item.codigo}} </small>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <small class="block m-b-xs"></small>
                                                    <span class="badge pointer" v-bind:class="item.menuRol.length === 0 ? 'badge-danger' : ''" v-on:click="showAccesos(item.id)"> {{ item.menuRol.length }} </span>
                                                    <small class="block m-t-xs">  menús </small>
                                                </td>
                                                <td class="v-middle"> 
                                                    <div class="dropdown actions">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                                        </a> 
                                                        <ul class="dropdown-menu pull-right pointer">
                                                            <li><a v-on:click="actualizarRol(item.id)" v-if="item.codigo !== 'ADM'">Editar General</a></li>
                                                            <li><a v-bind:href="'/seguridad/roles/' + item.id + '/editar'">Editar Accesos</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>
                        </roles-raptor>
                    </div>
                </div>
                <div th:substituteby="security/roles/rolesModal"></div>
            </div>
        </section>

        <div layout:fragment="JS" th:remove="tag">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_modules/vue-modal"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                /*]]>*/
            </script> 
            <script th:src="@{/app/security/roles/roles.js}" charset="utf-8"></script>
        </div>

    </body>
</html>