<modal-vik ref="rolesModal"
           v-bind="rolesModal"
           v-bind:okaction="save">

    <div slot="body">
        <div class="row">
            <div class="col-md-4 form-group">
                <label> Código</label>
                <input class="form-control" v-model="rol.codigo"/>
            </div>
            <div class="col-md-8 form-group">
                <label> Nombre </label>
                <input class="form-control" v-model="rol.nombre"/> 
            </div>
        </div>
    </div>

</modal-vik>



<modal-vik ref="accesosModal"
           v-bind:showaccept="false"
           v-bind="accesosModal">
    <div slot="body">
        <table class="table table-striped">
            <tbody>
                <tr v-for="mr in rol.menuRol">
                    <td>
                        <span class="text-md"> {{ mr.menu.nombre }} </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</modal-vik>

