<template id="money">
    <div>   
        <div v-if="editable">
        </div>
        <div v-else="">
            <span>  {{ new Number(obj[amountName]).toFixed(2) }} </span>
        </div>
    </div>
</template>
<script>
    Vue.component("money", {
        template: '#money',
        props: {
            amountName: {
                type: String,
                default: 'precio'
            },
            currencyName: {
                type: String,
                default: 'moneda'
            },
            surpass: {
                type: Number,
                default: Number.MAX_SAFE_INTEGER
            },
            surpassClass: {
                type: String,
                default: 'text-danger'
            },
            obj: {
                type: Object,
                default: {}
            },
            editable: {
                type: Boolean,
                default: false
            },
            currencies: {
                type: Array,
                default: []
            }
        }
    });
</script>