<template id="modal-vik-template">
    <transition name="modal">

        <div v-bind:id="id" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" v-bind:class="modalSize" role="document">


                <div class="modal-content">
                    <div v-if="header" class="modal-header">
                        <slot name="header">
                            <button v-on:click="close"  type="button"  class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">{{ title }}</h4>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <p>Modal Body</p>
                        </slot>
                    </div>

                    <div v-if="footer"  class="modal-footer">
                        <slot name="footer">
                            <button v-on:click="close" type="button" class="btn" v-bind:class="cancelclass" data-dismiss="modal">{{cancelbtn}}</button>
                            <button  v-if="showaccept" v-bind:disabled="processing" v-on:click="okaction" type="button" class="btn" v-bind:class="okclass"> <i v-if="processing" class="fa fa-spinner fa-pulse"></i> {{processing ? 'Procesando' : okbtn}}</button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    Vue.component('modal-vik', {
        template: '#modal-vik-template',
        props: {
            id: {type: String, default: null},
            header: {type: Boolean, default: false},
            footer: {type: Boolean, default: true},
            title: {type: String, default: 'Modal Vik'},
            okbtn: {type: String, default: 'Aceptar'},
            okaction: {type: Function, default: () => {
                }},
            okclass: {type: String, default: 'btn-info'},
            cancelbtn: {type: String, default: 'Cancelar'},
            cancelaction: {type: Function, default: () => {
                }},
            cancelclass: {type: String, default: 'btn-link'},
            modalSize: {type: String, default: "modal-md"},
            showaccept: {type: Boolean, default: true},
            processing: {type: Boolean, default: false}
        },
        methods: {
            open() {
                let $vue = this;
                $('#' + $vue.id).modal('show');
            },
            close() {
                let $vue = this;
                $('#' + $vue.id).modal('hide');
                this.cancelaction();
            }
        }
    });
</script>