<template id="product">
    <div>   
        <span class="block" v-bind:class="codeClass">{{ product.codigo }}</span>
        <small class="block" v-bind:class="nameClass">{{ product.nombre }}</small>
        <!--<small class="block" v-bind:class="typeClass">{{ product.tipoCalzado.nombre }}</small>-->
    </div>
    
</template>
<script>
    Vue.component("product", {
        template: '#product',
        props: {
            product: {
                type: Object,
                default: {tipoCalzado: {}}
            },
            nameClass: {
                type: String,
                default: 'text-muted'

            },
            codeClass: {
                type: String,
                default: 'text-primary'
            },
            typeClass: {
                type: String,
                default: 'text-muted'
            }
        }
    });
</script>