<template id="amount-edit">
    <div class="form-group">
        <pre style="display: none"> {{ helper }} </pre>
        <div class="input-group">
            <input class="form-control" v-model.number="innerAmount" v-on:input="cambiarAmount" required=""></input>
            <div class="input-group-btn">
                <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" required="" style="width: 80px"> {{ obj[unitName] ? obj[unitName].simbolo : ''}} </a>
                <ul class="dropdown-menu dropdown-menu-right text-right">
                    <li v-for="u in units"><a href="#" v-text="u.simbolo" v-on:click="selectUnit(u)"></a></li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    /*<![CDATA[*/
    Vue.component("amount-edit", {
        template: '#amount-edit',
        props: {
            lessThan: {
                type: Number,
                default: 999999
            },
            amountName: {
                type: String,
                default: 'cantidad'
            },
            unitName: {
                type: String,
                default: 'unidadMedida'
            },
            obj: {
                type: Object
            }
        },
        computed: {
            helper() {
                if (!this.obj[this.amountName]) {
                    this.innerAmount = 0;
                    return 0;
                } else {
                    this.innerAmount = this.obj[this.amountName] / this.obj[this.unitName].cantidadUnidadConversion;
                    return this.obj[this.amountName];
                }

            }
        },
        data() {
            return {
                units: [
                    {
                        cantidadUnidadConversion: 12,
                        codigo: "DOC",
                        esBase: 1,
                        esSuperior: 0,
                        id: 1,
                        nombre: "Docena",
                        simbolo: "docenas",
                    }, {
                        cantidadUnidadConversion: 6,
                        codigo: "MDOC",
                        esBase: 1,
                        esSuperior: 0,
                        id: 2,
                        nombre: "Media Docena",
                        simbolo: "1/2 doc"
                    }, {
                        cantidadUnidadConversion: 1,
                        codigo: "PAR",
                        esBase: 1,
                        esSuperior: 0,
                        id: 3,
                        nombre: "Par",
                        simbolo: "pares"
                    }
                ],
                innerAmount: 0,
                color: {"text-danger": false}
            }
        },
        beforeMount() {
            if (!this.obj[this.unitName] || this.obj[this.unitName].id === undefined || this.obj[this.unitName].id === '') {
                this.$set(this.obj, this.unitName, {...this.units[0]});
            }
            this.$nextTick(() => {
                if (this.obj[this.amountName] === undefined) {
                    this.$set(this.obj, this.amountName, 0);
                }
                this.$nextTick(() => this.innerAmount = this.obj[this.amountName] / this.obj[this.unitName].cantidadUnidadConversion);
            })
        },
        methods: {
            selectUnit(u) {
                this.$set(this.obj, this.unitName, {...u});
                this.$nextTick(() => this.$set(this.obj, this.amountName, this.innerAmount * this.obj[this.unitName].cantidadUnidadConversion));
                this.$forceUpdate();
            },
            cambiarAmount($event) {
                this.$set(this.obj, this.amountName, $event.target.value * this.obj[this.unitName].cantidadUnidadConversion);
            }
        }
        /*]]>*/
    });
</script>