<template id="unit-label">
    <span class="label" v-bind:class="labelType"> {{ unit.simbolo }}</span>
</template>
<script>
    Vue.component("unitLabel", {
        template: '#unit-label',
        props: {
            unit: {type: Object, default: {simbolo: {}}},
            labelType: {type: String, default: 'label-primary'}
        }
    });
</script>  
<template id="quantity">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" v-on:input="act"></input>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> {{ unit.simbolo }}</button>
                <ul class="dropdown-menu dropdown-menu-right text-right">
                    <li v-for="u in units"><a href="#" v-text="u.simbolo" v-on:click="$emit('act-unit',u)"></a></li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    Vue.component("quantity", {
        template: '#quantity',
        props: {
            amount: {
                type: Number,
                default: 0
            },
            units: {
                type: Array,
                default: []
            },
            unit: {
                type: Object,
            }
        },
        beforeMount() {

        },
        data() {
            return {
                amountDisplay: 0,
                localUnit: {}
            }
        },
        watch: {

        },
        mounted() {
            if (this.forcedUnit.id !== undefined) {
                this.localUnit = this.forcedUnit;
            }
            this.initAmount();
        },
        methods: {
            initAmount() {
                let $vue = this;
                $vue.amountDisplay = $vue.obj[$vue.amountName] / $vue.getUnit().cantidadUnidadConversion;
            },
            getUnit() {
                if (this.forcedUnit.id !== undefined) {
                    return this.forcedUnit;
                } else {
                    return this.obj[this.unitName];
                }
            },
            act() {
                this.obj[this.amountName] = this.amountDisplay * this.getUnit().cantidadUnidadConversion;
            },
            actLocal() {
                this.obj[this.amountName] = this.amountDisplay * this.localUnit.cantidadUnidadConversion;
            },
            setUnit(u) {
                this.obj[this.unitName] = u;
                this.act();
            },
            setLocalUnit(u) {
                this.localUnit = u;
                this.actLocal();
            },
            getWhole() {
                return Math.floor(this.obj[this.amountName] / this.getUnit().cantidadUnidadConversion);
            },
            getNumerator() {
                let whole = this.getWhole();
                return this.obj[this.amountName] - whole * this.getUnit().cantidadUnidadConversion;
            },
            getDenominator() {
                return this.getUnit().cantidadUnidadConversion;
            }
        }
    });
</script>