<template id="unit-label">
    <span class="label" v-bind:class="labelType"> {{ unit.simbolo }}</span>
</template>
<script>
    Vue.component("unitLabel", {
        template: '#unit-label',
        props: {
            unit: {type: Object, default: {simbolo: {}}},
            labelType: {type: String, default: 'label-info'}
        }
    });
</script>  
<template id="showquantity">
    <div>   
        <div v-if="getNumerator() > 0">
            {{ getWhole() }} <sup>{{ getNumerator() }}</sup>&frasl;<sub>{{ getDenominator() }}</sub> <br/> {{  unit.simbolo  }}
        </div>
        <div v-else="">
            <span class="block text-md" v-text="getWhole()"></span>
             <unit-label v-bind:unit="unit"></unit-label>
        </div>
    </div>
</template>
<script>
    Vue.component("showquantity", {
        template: '#showquantity',
        props: {
            amount: {
                type: Number,
                default: new Number(0)
            },
            unit: {
                type: Object,
                default: {cantidadUnidadConversion: 0}
            },
        },
        beforeMount() {
            
        },
        mounted(){
        },
        methods: {
            getWhole() {
                return Math.floor(this.amount / this.unit.cantidadUnidadConversion);
            },
            getNumerator() {
                let whole = this.getWhole();
                return this.amount - whole * this.unit.cantidadUnidadConversion;
            },
            getDenominator() {
                return this.unit.cantidadUnidadConversion;
            }
        }
    });
</script>