<template id="unit-label">
    <span class="label" v-bind:class="labelType"> {{ unit.simbolo }}</span>
</template>
<script>
    Vue.component("unitLabel", {
        template: '#unit-label',
        props: {
            unit: {type: Object, default: {simbolo: {}}},
            labelType: {type: String, default: 'label-primary'}
        }
    });
</script>  

<template id="amount">
    <div>  
        <div v-if="!inline">
            <div class="m-b-xs">
                <span v-bind:class="getWhole() >= 0 ? '' : 'text-danger'"> {{ getInfo().entero }} <span v-if="getInfo().numerador"> <sup>{{ getInfo().numerador }}</sup>&frasl;<sub>{{ getInfo().denominador }}</sub> </span> </span>
            </div>
            <div>
                <unit-label v-bind:unit="unit"></unit-label>
            </div>
        </div>
         <div v-else="">
            <div class="m-b-xs">
                <span style="margin-right: 10px" v-bind:class="getWhole() >= 0 ? '' : 'text-danger'"> {{ getInfo().entero }} <span v-if="getInfo().numerador"> <sup>{{ getInfo().numerador }}</sup>&frasl;<sub>{{ getInfo().denominador }}</sub> </span> </span>
                <unit-label v-bind:unit="unit"></unit-label>
            </div>
        </div>
    </div>
</template>
<script>

    Vue.component("amount", {
        template: '#amount',
        props: {
            amount: {
                type: Number,
                default: new Number(0)
            },
            unit: {
                Type: Object,
                default: {}
            },
            editable: {
                type: Boolean,
                default: false
            },
            inline: {
                type: Boolean,
                default: false
            },
        },
        beforeMount() {

        },
        data() {
            return {
                amountDisplay: 0
            }
        },
        watch: {

        },
        mounted() {
            this.init();
        },
        methods: {
            init() {
                let $vue = this;
                $vue.amountDisplay = $vue.amount / $vue.unit.cantidadUnidadConversion;
            },
            getInfo() {
                let entero = Math.floor(this.amount / this.unit.cantidadUnidadConversion);
                let fraccionario = this.amount - entero * this.unit.cantidadUnidadConversion;
                let info = reduce(fraccionario, this.unit.cantidadUnidadConversion);

                return {
                    entero: entero,
                    numerador: info[0],
                    denominador: info[1]
                }
            },
            getWhole() {
                return Math.floor(this.amount / this.unit.cantidadUnidadConversion);
            },
            getNumerator() {
                let whole = this.getWhole();
                return this.amount - whole * this.unit.cantidadUnidadConversion;
            },
            getDenominator() {
                return this.unit.cantidadUnidadConversion;
            }
        }
    })
</script>