<aside th:fragment="SIDEBAR" class="aside-md">
    <section class="vbox">

        <div class="sidebar-flat sidebar-blue">

            <div class="logo">
            <!--<div class="text-center">-->
                <a href="#" class="nav-brand" data-toggle="fullscreen">
                    <!--<h2>AVIO</h2>-->
                </a>
            </div>

            <div class="current-user">
                <a href="#" class="name">
                    <div class="avatar-text" th:inline="text">
                         [[ ${session.SESSION_USUARIO_IEP.persona.avatar} ]] 
                    </div>

                    <span class="capitalize" th:inline="text"> 
                        [[ ${session.SESSION_USUARIO_IEP.persona.nombreCompletoCapitalize} ]] 
                    </span>
                    <i class="fa fa-angle-down"></i> 

                    <small class="text-center">  [[ ${session.SESSION_USUARIO_IEP.cargo.nombre} ]] </small>
                </a>

                <ul class="menu">      
                    <li><a th:href="@{/logout}">Salir</a></li>
                </ul>
            </div>

            <div class="section-container">
                <div class="menu-section">
                    <h3>Aministración</h3>
                    <ul>
                        <li class="option" 
                            th:each='menu : ${session.SESSION_USUARIO_IEP.menu}' >
                            <a href="#" data-toggle="sidebar">
                                <i th:classappend="${menu.icono}"></i>
                                <span th:text="${menu.nombre}">Call Center</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:each="opcion : ${menu.menus}">
                                    <a th:href="@{${opcion.ruta}}"
                                       th:text="${opcion.nombre}">Sedes</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</aside>
<!--<aside th:fragment="SIDEBAR" class="aside-md">
    <section class="vbox">
        <div class="sidebar-flat sidebar-blue fix-scroll">

            <div class="logo">
                <a href="#" class="nav-brand" data-toggle="fullscreen"></a>
            </div>

            <div class="current-user">
                <a href="#" class="name">
                    <a href="#" class="name">
                        <div class="avatar-text" th:inline="text">
                            [[ ${session.SESSION_USUARIO_IEP.persona.avatar} ]] 
                        </div>

                        <span class="capitalize" th:inline="text"> 
                            [[ ${session.SESSION_USUARIO_IEP.persona.nombreCompletoCapitalize} ]] 
                        </span>
                        <i class="fa fa-angle-down"></i> 

                        <small class="text-center">  [[ ${session.SESSION_USUARIO_IEP.cargo.nombre} ]] </small>
                    </a>

                    <span class="role" th:inline="text">[[ ${session.SESSION_USUARIO.rolActivo.nombre} ]]</span>
                </a>

                <ul class="menu">
                    <li th:if="${session.SESSION_USUARIO_IEP.roles.size()>1}"><a th:href="@{/changerol}">Cambiar Rol</a></li>
                    <li><a th:href="@{/changeciclo}">Cambiar Ciclo</a></li>
                    <li class="divider"> </li>
                    <li><a href="#" onclick="exitSession()">Salir</a></li>
                </ul>
            </div>

            <div class="section-container">

                <div class="menu-section">
                    <h3>Académico</h3>
                    <ul>
                        <li class="option" 
                            th:each='menu : ${session.SESSION_USUARIO.menu}' >
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-calendar"></i>
                                <span th:text="${menu.nombre}">Call Center</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:each="opcion : ${menu.menus}">
                                    <a th:href="@{${opcion.ruta}}"
                                       th:text="${opcion.nombre}">Sedes</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </section>
</aside>



-->
