<div th:fragment="FAVICON" th:remove="tag">
</div>

<div th:fragment="GENERAL-STYLES" th:remove="tag">
    <meta charset="utf-8"/>
    <meta name="google" value="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/messenger-hubspot/css/messenger.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/messenger-hubspot/css/messenger-theme-flat.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/sweetalert/sweetalert2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/vue-wizard/css/vue-form-wizard.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/v-calendar/v-calendar.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/vue-multiselect/vue-multiselect.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/cropperjs/cropper.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/phobos/css/app.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/phobos/css/override.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/phobos/css/left.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/phobos/css/animate.css}" />
</div>

<div th:fragment="javascript-vue-upload">
    <script type="text/javascript" th:src="@{/vendor/vue-upload-component/vue-upload-component.min.js}"/>
</div>

<div th:fragment="javascript-vue-numeric">
    <script type="text/javascript" th:src="@{/vendor/vue-numeric/accounting.min.js}"/>
    <script type="text/javascript" th:src="@{/vendor/vue-numeric/vue-numeric.min.js}"/>
</div>

<div th:fragment="javascript-cropperjs" th:remove="tag">
    <script type="text/javascript" th:src="@{/vendor/cropperjs/cropper.min.js}" charset="utf-8"></script>
</div>

<div th:fragment="GENERAL-JS" th:remove="tag">
    <script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/phobos/js/libs/jquery.md5.js}"></script>
    <script type="text/javascript" th:src="@{/phobos/js/libs/jquery.numeric.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/jquery.dynatable/jquery.dynatable.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/phobos/js/dynatable.setup.js}" charset="utf-8"></script>

    <script type="text/javascript" th:src="@{/vendor/parsleyjs/parsley.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/parsleyjs/i18n/es.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/vendor/moment/moment-with-locales.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/vendor/filedownload/jquery.fileDownload.js}"  charset="utf-8" ></script>

    <script type="text/javascript" th:src="@{/vendor/messenger-hubspot/js/messenger.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/messenger-hubspot/js/messenger-theme-flat.js}"></script>    
    <script type="text/javascript" th:src="@{/vendor/sweetalert/sweetalert2.all.min.js}"></script>

    <script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>


    <script type="text/javascript" th:src="@{/vendor/vue/vue.min.js}" ></script>
    <script type="text/javascript" th:src="@{/vendor/vue-modal/vue-modal.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/vue-multiselect/vue-multiselect.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/vue-bootstrap-datetimepicker/vue-bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/vuejs-uib-pagination/vuejs-uib-pagination.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/axios/axios.min.js}" ></script>
    <script type="text/javascript" th:src="@{/vendor/bootbox/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/vue-wizard/vue-form-wizard.js}"></script>

    <script  th:inline="javascript" >
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/ '/app';
        /*]]>*/
    </script>

    <script type="text/javascript" th:src="@{/phobos/js/app.plugin.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/phobos/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/phobos/js/util.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/phobos/js/left.js}" charset="utf-8"></script>
</div>

<div th:fragment="javacsript-vue-bootstrap-datetimepicker" th:remove="tag">
    <script type="text/javascript" th:src="@{/vendor/vue-bootstrap-datetimepicker/vue-bootstrap-datetimepicker.min.js}" charset="utf-8"></script>
</div>
<div th:fragment="javascript-bootstrap-datetimepicker" th:remove="tag">
    <script type="text/javascript" th:src="@{/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}" charset="utf-8"></script>
</div>