<html layout:decorator="_layout/top">
    <head>
        <title>Usuarios</title>
        <style>
            .input-group-addon{
                z-index: 0;
            }
            .input-group .form-control{
                z-index: 0;
            }
            .imagen {
                height: 80px;
                width: 80px;
            }
            .img-thumbnail {
                padding: 0px;
            }
            .btn btn-default dropdown-toggle{
                z-index: 0;
            }
        </style>
    </head>

    <body>
        <section layout:fragment="MAIN">

            <div class="panel wrapper-md v-cloak" id="usuariosVUE">
                <div class="panel-heading">
                    <div class="pull-right">                
                        <a class="btn btn-primary" href="/seguridad/usuarios/nuevo">Nuevo</a>
                    </div>
                    <p class="h2">  Usuarios </p>
                </div>

                <div class="panel-body">

                    <usuarios-raptor inline-template="true" ref="table">
                        <raptor-table v-bind:url="url" ref="raptor">

                            <template scope="props">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4"></th>
                                            <th class="col-md-2"> Nombre de Usuario </th>
                                            <th class="col-md-5"></th>
                                            <th class="col-md-1 text-center"> Estado </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in props.data">     
                                            <td class="v-middle"> 
                                                <span class="block text-primary"> {{ item.persona.nombreCompleto }} </span>
                                                <small class="block text-muted"> {{ item.persona.tipoDocumento.simbolo }} {{item.persona.numeroDocIdentidad}}</small>
                                            </td>
                                            <td class="v-middle">
                                                <span> {{ item.usuario }} </span>
                                            </td>
                                            <td class="v-middle text-center">
                                                <span class="block m-b-xs"/>
                                                <span class="badge pointer" v-bind:class="item.usuarioRol.length > 0 ? '' : 'badge-danger'" v-on:click="openVerRoles(item.id, item.persona.nombreCompleto)"> {{ item.usuarioRol.length }} </span>
                                                <small class="block text-muted m-t-xs"> roles </small>
                                            </td>
                                            <td class="v-middle text-center">
                                                <span v-if="item.estado === 'ACT'" class ="label label-success"> Activo </span>
                                                <span v-if="item.estado === 'INA'" class ="label label-danger"> Inactivo </span>
                                            </td>
                                            <td class="v-middle"> 
                                                <div class="dropdown actions">
                                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="glyphicon glyphicon-option-vertical"></i>
                                                    </a> 
                                                    <ul class="dropdown-menu pull-right pointer">
                                                        <li><a v-on:click="openEditarRoles(item.id, item.persona.nombreCompleto)"> Editar roles </a></li>
                                                        <li><a v-on:click="cambiarPassword(item)">Cambiar contraseña</a></li>
                                                        <li><a v-if="item.estado === 'ACT'" v-on:click="desactivar(item)">Desactivar</a></li>
                                                        <li><a v-if="item.estado === 'INA'" v-on:click="activar(item)">Activar</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </raptor-table>

                    </usuarios-raptor>
                </div>
                <div th:substituteby="security/usuarios/usuariosModal"></div>
            </div>
        </section>

        <div layout:fragment="JS" th:remove="tag">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_modules/vue-modal"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                  var roles = /*[[${roles.toString()}]]*/ 'json';
                /*]]>*/
            </script> 
            <script th:src="@{/app/security/usuarios/usuarios.js}" charset="utf-8"></script>
        </div>

    </body>
</html>