<modal-vik ref="modal"
           v-bind="modal"
           v-bind:okaction="savePassword">

    <div slot="body">
        <label> Nueva contraseña </label>
        <input class="form-control" v-model="usuario.clave"/>
    </div>

</modal-vik>

<modal-vik ref="modalVerRoles"
           v-bind:showaccept="false"
           v-bind="modalVerRoles">
    <div slot="body">
        <table class="table table-striped">
            <tr v-for="ur in usuario.usuarioRol">
                <td>
                    <span>  {{ ur.rol.nombre }} </span>
                </td>
            </tr>
        </table>
    </div>
</modal-vik>

<modal-vik ref="modalEditarRoles"
           v-bind="modalEditarRoles"
           v-bind:okaction="saveRoles">
    <div slot="body">
        <table class="table table-striped">
            <tr v-for="ur in Array.from(mapRoles.values())">
                <td class="v-middle col-md-8">
                    <span>  {{ ur.rol.nombre }} </span>
                </td>
                <td class="v-middle col-md-4">
                    <label class="switch m-b-n m-t-xs">
                        <input type="checkbox" v-model="ur.encontrado"/>
                        <span></span>
                    </label>
                </td>
            </tr>
        </table>
    </div>
</modal-vik>
