.bg-light {
    color: $text-color;
    @include color-variant($brand-light);
}

.bg-dark {
    @include font-variant($brand-dark, lighten($brand-dark,40%), lighten($brand-dark,50%), #fff);	
    @include color-variant($brand-dark);
}

.bg-black {
    @include font-variant($brand-black, lighten($brand-black,40%), lighten($brand-black,50%), #fff);
    @include color-variant($brand-black);
}

.bg-primary {
    @include font-variant($brand-primary, lighten($brand-primary,40%), lighten($brand-primary,50%), #fff);	
    @include color-variant($brand-primary);
}

.bg-success {
    @include font-variant($brand-success, lighten($brand-success,40%), lighten($brand-success,50%), #fff);
    @include color-variant($brand-success);
}

.bg-info {
    @include font-variant($brand-info, lighten($brand-info,40%), lighten($brand-info,50%), #fff);
    @include color-variant($brand-info);
}

.bg-warning {
    @include font-variant($brand-warning, lighten($brand-warning,40%), lighten($brand-warning,50%), #fff);
    @include color-variant($brand-warning);
}

.bg-danger {
    @include font-variant($brand-danger, lighten($brand-danger,40%), lighten($brand-danger,50%), #fff);
    @include color-variant($brand-danger);
}

.bg-white {
    background-color: #fff;
    color: $text-color;
    a {
        color: $link-color;
        &:hover{
            color: darken($link-color, 10%);
        }
    }
    .text-muted{color: $text-muted !important;}
}

.bg-white-only{background-color:#fff;}

.bg-empty{background-color: transparent;}



.bg-light {
    color: $text-color;
    @include color-variant($brand-light);
}


.bg-light-purple{
    color: $text-color;
    @include color-variant($brand-light-purple);
}
.bg-deep-purple{
    color: $text-color;
    @include color-variant($brand-deep-purple);
}
.bg-purple{
    color: $text-color;
    @include color-variant($brand-purple);
}
.bg-red {
    color: $text-color;
    @include color-variant($brand-red   );
}
.bg-pink{
    color: $text-color;
    @include color-variant($brand-pink);
}
.bg-midnight{
    color: $text-color;
    @include color-variant($brand-midnight);
}
.bg-silver{
    color: $text-color;
    @include color-variant($brand-silver);
}
.bg-cyan{
    color: $text-color;
    @include color-variant($brand-cyan);
}
.bg-limo{
    color: $text-color;
    @include color-variant($brand-limo);
}
.bg-green{
    color: $text-color;
    @include color-variant($brand-green);
}
.bg-blue-purple{
    color: $text-color;
    @include color-variant($brand-blue-purple);
}
.bg-blue-shine{
    color: $text-color;
    @include color-variant($brand-blue-shine);
}
.bg-orange{
    color: $text-color;
    @include color-variant($brand-orange);
}
.bg-deep-orange{
    color: $text-color;
    @include color-variant($brand-deep-orange);
}
.bg-brown{
    color: $text-color;
    @include color-variant($brand-brown);
}
.bg-gold{
    color: $text-color;
    @include color-variant($brand-gold);
}
.bg-clouds{
    color: $text-color;
    @include color-variant($brand-clouds);
}
.bg-old-blue{
    color: $text-color;
    @include color-variant($brand-old-blue);
}










@include text-wariant($brand-primary, primary);
@include text-wariant($brand-info, info);
@include text-wariant($brand-success, success);
@include text-wariant($brand-warning, warning);
@include text-wariant($brand-danger, danger);
@include text-wariant($brand-dark, dark);

@include text-wariant($text-muted, muted);

.text-black{
    color: #000;
    color: rgba(0,0,0,0.8)
};
.text-white {
    color: #fff;
    color: rgba(255,255,255,0.8)
}