.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

a.label {
    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: $btn-default-bg;
    color: $text-color;
    &[href] {
        &:hover, &:focus {
            background-color: $btn-default-bg;
        }
    }
}

.label-primary {
    background-color: $brand-primary;
    &[href] {
        &:hover, &:focus {
            background-color: $brand-primary;
        }
    }
}

.label-success {
    background-color: $brand-success;
    &[href] {
        &:hover, &:focus {
            background-color: $brand-success;
        }
    }
}

.label-info {
    background-color: $brand-info;
    &[href] {
        &:hover, &:focus {
            background-color: $brand-info;
        }
    }
}

.label-warning {
    background-color: $brand-warning;
    &[href] {
        &:hover, &:focus {
            background-color: $brand-warning;
        }
    }
}

.label-danger {
    background-color: $brand-danger;
    &[href] {
        &:hover, &:focus {
            background-color: $brand-danger;
        }
    }
}


.label-dark {
    background-color: $brand-dark;
    &[href] {
        &:hover, &:focus {
            background-color: $brand-dark;
        }
    }
}


.label-black {
    background-color: $brand-black;
    &[href] {
        &:hover, &:focus {
            background-color: $brand-black;
        }
    }
}