// Centered Nav Pills
//------------------------

.nav-pills > li > a {
    padding: 8px 15px;
}


.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills ul.nav-pills > li { display:inline; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

.subnav{
    margin-top: 5px;
}





// NAVBAR - SMALL
//---------------------


.navbar-nav.navbar-xs > li > a {
    padding-top:4px !important; 
    padding-bottom:5px !important; 
    font-size: 11px;
}

.navbar.navbar-xs {
    min-height:30px !important
}


/* TABS WITH LINES */

.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

.tabbable-line > .nav-tabs {
    margin: 0px;
}


.tabbable-line > .nav-tabs > li{
    margin-right: 30px;
}

.tabbable-line > .nav-tabs > li > a {
    border: 0;
    color: #888;
    font-weight: bold;
    font-size: $font-size-base - 1;
    text-transform: uppercase;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.tabbable-line > .nav-tabs > li > a > i {
    color: #737373;
}

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
    /**/
}

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
    border-bottom: 2px solid #a6a6a6 !important;;
    color: #666;
    transition: border-color 500ms;
}

.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
    color: #333333;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active  {
    position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
    border-bottom: 2px solid #2ECC71 !important;
    font-weight: bold;
    color: #333333;
    background: none !important;
}