$brand-primary:         #29b765;
$brand-info:            #3B9FF3;
$brand-success:         #2ECC71;
$brand-warning:         #F1C40F;
$brand-danger:          #E74C3C;
$brand-black:           #242B31;
$brand-dark:            #363E45;
$brand-light:           #EBEEF5;



$brand-light-purple:    #C56EEC;
$brand-deep-purple:     #433599;
$brand-purple:          #9C27B0;
$brand-red:	        #F44336;
$brand-pink:            #FF4081;
$brand-midnight:        #1A2C47;
$brand-silver:          #BDC3C7;
$brand-cyan:            #00BCD4;
$brand-limo:            #91C46B;
$brand-green:           #1ABC9C;
$brand-blue-purple:     #5B52FF;
$brand-blue-shine:      #007AFF;
$brand-orange:          #FF9501;
$brand-deep-orange:     #FF5722;
$brand-brown:           #795548;
$brand-gold:            #D9B121;
$brand-clouds:          #D8DFE6;
$brand-old-blue:        #026AB1;



$body-bg:               #F3F5F9;
$text-color:            #2A2C2E;
$text-muted:            lighten($text-color, 15%);


$font-family-sans-serif:  "Helvetica Neue", "Arial", sans-serif;
$font-family-serif:       "Helvetica Neue", "Arial", sans-serif;
$font-family-title:       "Helvetica Neue","Segoe UI", "Arial", sans-serif;
$font-family-base:        $font-family-sans-serif;



$font-size-base:          13px;
$font-size-lg:            ceil($font-size-base * 1.23); // ~16px
$font-size-md:            ceil($font-size-base * 1.07); // ~14px
$font-size-sm:            ceil($font-size-base * 0.92); // ~12px
$font-size-xs:            ceil($font-size-base * 0.84); // ~11px


$link-color:              #2CA8FF;
$link-hover-color:        darken($link-color, 10%);


$border-radius-base:	  3px;
$border-color:		  #eaeef1;



$line-height-base:        1.53846154; // 20/13
$line-height-computed:    floor($font-size-base * $line-height-base); // ~20px



// Buttons
// -------------------------

$btn-default-color:              $text-color;
$btn-default-bg:                 darken($brand-light, 3%);
$btn-default-border:             darken($brand-light, 3%);

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;

$btn-dark-color:                 #fff;
$btn-dark-bg:                    $brand-dark;
$btn-dark-border:                $btn-dark-bg;

$input-border:                   darken($border-color, 10%);
$input-border-focus:             darken($brand-success, 2%);
$input-border-radius:            4px;

$panel-bg:                    	 #fff;
$panel-border:                	 $border-color;
$panel-border-radius:         	 $border-radius-base;
$panel-heading-bg:            	 #fff;
$panel-footer-bg:             	 #fff;

$tooltip-bg:                  	 rgba(0,0,0,.9);
$badge-bg:                       darken($brand-light, 20%);

$tooltip-color:               	 $brand-dark;
$tooltip-fallback-color:	 	 rgba(0,0,0,.9);

$arrow-width:         			 7px;
$arrow-color:         			 #fff;
$arrow-outer-width:   			 ($arrow-width + 1);
$arrow-outer-color:   			 rgba(0,0,0,.1);
$arrow-outer-fallback-color:  	 #eee;

$off-screen-nav-width:        	75%;
$nav-primary-height:          	36px;
$nav-xs-width:                	70px;
$nav-xs-height:               	50px;
$header-md-height:		60px;

$list-group-active-color:		$brand-info;

