.sidebar-flat{
    background: #d8dfe6;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 260px;
    z-index: 800;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat {
        width: 80px;
    }
    .aside-md {
        width: 80px;
    }
}
.sidebar-flat .current-user {
    position: relative;
    padding: 20px 20px;
    height: 66px;
}
.sidebar-flat .current-user .name {
    color: #3C4043;
    font-size: 14px;
    text-decoration: none;
    display: block;
    position: relative;
}

.sidebar-flat .current-user .name .elipsis-name{
    width: 110px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: 5px;
}

.sidebar-flat .current-user .name .avatar {
    max-width: 42px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 12px;
}

.sidebar-flat .current-user .name .avatar-text {
    display: block;
    position: relative;
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    background-color: #3C4043;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-right: 12px;
    text-indent: 0;
    margin-top: 2px;
}

.sidebar-flat .current-user .name small {
    position: relative;
    display: block;
    color: #738597;
}


@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .current-user .name span,
    .sidebar-flat .current-user .name small {
        display: none;
    }
}
.sidebar-flat .current-user .name span .fa-chevron-down {
    font-size: 10px;
    margin-left: 7px;
    position: relative;
    top: -1px;
    color: #3C4043;
}
.sidebar-flat .current-user .menu {
    position: absolute;
    left: 35px;
    top: 60px;
    background: #fff;
    width: 165px;
    z-index: 999;
    border-radius: 3px;
    padding: 8px 0;
    list-style-type: none;
    box-shadow: 0 6px 13px rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.06);
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -moz-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -ms-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -o-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .current-user .menu {
        left: 80px;
        top: 10px;
        -webkit-transform-origin: 0 15px;
        -moz-transform-origin: 0 15px;
        -o-transform-origin: 0 15px;
        -ms-transform-origin: 0 15px;
        transform-origin: 0 15px;
    }
}
.sidebar-flat .current-user .menu.active {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.sidebar-flat .current-user .menu:before {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    top: -12px;
    left: 49%;
    margin-left: -18.5px;
    /*background-image: url("popover-arrow.png");*/
    background-size: 100% 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .current-user .menu:before {
        top: 16px;
        left: -5px;
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
.sidebar-flat .current-user .menu li {
    padding: 8px 15px;
    border-bottom: 1px solid #E6E6E6;
}
.sidebar-flat .current-user .menu li:last-child {
    border-bottom: 0;
}
.sidebar-flat .current-user .menu li a {
    text-decoration: none;
    display: block;
    color: #4C5661;
    font-size: 15px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


.sidebar-flat .current-user .menu li a:hover {
    color: #000;
}

.sidebar-flat  .section-container{
    position: relative;
    overflow-y: auto;
    margin: 25px auto;
    height: 300px;
}




@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .section-container{
        position: relative;
        overflow-y: visible;
        margin: 25px auto;
        height: 300px;
    }
}

.sidebar-flat .menu-section {
    margin-bottom: 40px;
}
.sidebar-flat .menu-section h3 {
    color: #7E8C9E;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section h3 {
        display: none;
    }
}
.sidebar-flat .menu-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
}
.sidebar-flat .menu-section ul li {
    margin: 15px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li {
        margin-bottom: 7px;
        position: relative;
    }
}
.sidebar-flat .menu-section ul li a {
    color: #4B5F72;
    font-weight: 400;
    font-size: 12px;
    padding: 6px 10px;
    padding-left: 25px;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    width: 99%;
    -webkit-transition: all 0.13s linear;
    -moz-transition: all 0.13s linear;
    -ms-transition: all 0.13s linear;
    -o-transition: all 0.13s linear;
    transition: all 0.13s linear;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li a {
        position: relative;
        padding-left: 10px;
        text-align: center;
    }
    .sidebar-flat .menu-section ul li a:hover+.submenu {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
.sidebar-flat .menu-section ul li a.active,
.sidebar-flat .menu-section ul li a:hover {
    color: #2D3944;
}
.sidebar-flat .menu-section ul li a.active {
    font-weight: 500;
}
.sidebar-flat .menu-section ul li a.toggled {
    color: #2D3944;
    font-weight: bold;
}
.sidebar-flat .menu-section ul li a i {
    font-size: 18px;
    margin-right: 9px;
    min-width: 17px;
    text-align: center;
    position: relative;
    top: 1px;
}

.sidebar-flat .menu-section ul li a i.fa-chevron-down {
    float: right;
    font-size: 10px;
    top: 7px;
    right: 4px;
    color: #2D3944;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li a i {
        font-size: 23px;
        margin: 0;
    }
    .sidebar-flat .menu-section ul li a i.fa-chevron-down {
        display: none;
    }
    .sidebar-flat .menu-section ul li a i.icon-chevron-down {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li a span {
        display: none;
    }
}
.sidebar-flat .menu-section ul li a .counter {
    display: inline-block;
    background: #8796A5;
    color: #fff;
    font-family: "Helvetica Neue", Arial;
    height: 20px;
    min-width: 25px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 600;
    float: right;
    position: relative;
    top: 2px;
    right: 9px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li a .counter {
        display: none;
    }
}
.sidebar-flat .menu-section ul li>.submenu {
    display: none;    
    position: relative;
    top: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}


@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li>.submenu {
        background: #d8dfe6;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        border-radius: 0 4px 4px 0;
        min-width: 170px;
        top: 0px;
        left: 79px;
        padding-bottom: 0px;
        box-shadow: 0 1px 0px rgba(255,255,255,0.09);
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }
    .sidebar-flat .menu-section ul li>.submenu:hover {
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        visibility: visible;
    }
}
.sidebar-flat .menu-section ul li > .submenu.active {
    display: block;
}

.sidebar-flat .menu-section ul li >  ul.submenu li {
    margin: 0px 0;
}

.sidebar-flat .menu-section ul li > .submenu li a {
    padding-left: 54px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li>.submenu li a {
        padding-left: 10px;
        text-align: left;
    }
}
.sidebar-flat .menu-section ul li>.submenu li a.active {
    background: #CBD4DD;
    box-shadow: none;
}
.sidebar-flat .menu-section ul li>.submenu li>.submenu {
    display: none;
    position: relative;
    top: 10px;
    border-bottom: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li>.submenu li>.submenu {
        display: block;
        position: absolute;
        top: 0px;
        left: 170px;
    }
}
.sidebar-flat .menu-section ul li>.submenu li>.submenu.active {
    display: block;
}
.sidebar-flat .menu-section ul li>.submenu li>.submenu li a {
    padding-left: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-flat .menu-section ul li>.submenu li>.submenu li a {
        padding-left: 10px;
    }
}

body.open-sidebar-flat  #content {
    -webkit-perspective: 0px;
    -ms-perspective: 0px;
    -moz-perspective: 0px;
    -moz-transform: translate3d(240px, 0, 0);
    -o-transform: translate3d(240px, 0, 0);
    -ms-transform: translate3d(240px, 0, 0);
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
}

#content {
    position: relative;
    min-height: 900px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.sidebar-flat .logo{

    height: 80px;
    color: #fff;
    position: relative;
    margin: 8px 0px 0px 2px;
    font-size: 23px;
    content: url(http://18.218.126.126/logo.png);
    width: 255px;
}

@media (max-width: 991px) {
    #content {
        margin-left: 80px;
    }


    .sidebar-flat .logo{
        height: 66px;
        color: #fff;
        position: relative;
        margin: 22px auto !important;
        font-size: 23px;
        background: url(../images/logo-min.png) no-repeat center center;
    }
}

@media (max-width: 767px) {
    #content {
        margin-left: 0px;
        z-index: 9999;
    }
    .sidebar-flat{
        visibility: hidden;
    }
    .sidebar-flat.compress{
        visibility: visible;
    }
}

.sidebar-flat.compress .logo{
    height: 66px;
    color: #fff;
    position: relative;
    margin: 22px auto !important;
    font-size: 23px;
    background: url(../images/logo-min.png) no-repeat center center;
}


.sidebar-flat.compress .menu-section ul li a span {
    display: none;
}

.sidebar-flat.compress .menu-section ul li a {
    position: relative;
    padding-left: 10px;
    text-align: center;
}
.sidebar-flat.compress .menu-section ul li a:hover+.submenu {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.sidebar-flat.compress .menu-section ul li {
    margin-bottom: 7px;
    position: relative;
}
.sidebar-flat.compress .menu-section ul li a i {
    font-size: 30px;
    margin: 0;
}

.sidebar-flat.compress .menu-section ul li a i.fa-chevron-down {
    display: none;
}

.sidebar-flat.compress{
    width: 90px;
}

.aside-md.compress {
    width: 90px;
}

.sidebar-flat.compress .current-user .name span,
.sidebar-flat.compress .current-user .name small {
    display: none;
}

.sidebar-flat.compress .menu-section h3 {
    display: none;
}

.sidebar-flat.compress .section-container{
    position: relative;
    overflow-y: visible;
    margin: 60px auto;
    height: 300px;
}

.sidebar-flat.compress .menu-section ul li>.submenu {
    background: #ebeef5;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    border-radius: 0 4px 4px 0;
    min-width: 170px;
    top: 0px;
    left: 79px;
    padding-bottom: 0px;
    box-shadow: 0 1px 0px rgba(255,255,255,0.09);

    -moz-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);

    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.sidebar-flat.compress .menu-section ul li > .submenu li a {
    padding-left: 20px;
    text-align: left;
}


.sidebar-flat.compress .menu-section ul li>.submenu:hover {
    opacity: 1;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    visibility: visible;
}





/* NOW SIZES */
.sidebar-medium .section-container {
    margin: 60px auto;
}

.sidebar-medium .menu-section ul li a {
    font-size: 14px;
    padding: 12px 10px;
    padding-left: 20px;
}


.sidebar-big .section-container{
    margin: 80px auto;
}

.sidebar-big .menu-section ul li a {
    font-size: 14px;
    padding: 12px 10px;
    padding-left: 25px;
}

.sidebar-big .menu-section ul li a span {
    line-height: 40px;
    vertical-align: top; 
}


.sidebar-big .menu-section ul li a i {
    font-size: 30px;
    margin-right: 5px;
    width: 50px;
    padding: 5px 10px;
    text-align: center;
    position: relative;
    top: 1px;
}

.sidebar-big .menu-section ul li a i.fa-chevron-down {
    float: right;
    top: 12px;
    right: 0px;
    margin-right: 0px;
    padding: 0px 0px;
}


.sidebar-big .menu-section ul li a .counter{
    top: 10px;
}

.sidebar-big .menu-section ul li > .submenu li a{
    padding-left: 66px;
}


@media (min-width: 768px) and (max-width: 991px) {

    .sidebar-big .menu-section ul li a {
        padding-left: 10px;
    }

    .sidebar-big .menu-section ul li > .submenu li a {
        padding-left: 20px;
    }
}






/* CLASSIC DARK GREY VERSION */ 


.sidebar-dark{
    background: #363e45;
}

.sidebar-dark .current-user .name {
    color: #fff;
}

.sidebar-dark .current-user .name .avatar-text{
    background: #2ECC71;
}

.sidebar-dark .menu-section h3 {
    color: #A6AFBB;
}

.sidebar-dark .menu-section ul li a {
    color: #C1D0DF;
}


.sidebar-dark .menu-section ul li a.active,
.sidebar-dark .menu-section ul li a:hover {
    color: #fff;
    background: transparent;
}

.sidebar-dark .menu-section ul li a.toggled {
    background: transparent;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-dark .menu-section ul li>.submenu {
        background: #3F4852;
    }
}

.sidebar-dark .menu-section ul li>.submenu li a.active {
    background: #3F4852;
}






/* THE GREEN VERSION FROM CLOUDSCHOOL */ 


.sidebar-green{
    background: #1abc9c;
}

.sidebar-green .current-user .name {
    color: #fff;
}

.sidebar-green .current-user .name small{
    color: #a8f3e4;
}

.sidebar-green .current-user .name .avatar-text{
    background: #07382E;
}

.sidebar-green .menu-section h3 {
    color: #a8f3e4;
}

.sidebar-green .menu-section ul li a {
    color: #fff;
}

.sidebar-green .menu-section ul li a.active{
    color: #fff;
    background: transparent;
}
.sidebar-green .menu-section ul li a:hover {
    color: #07382E;
    background: transparent;
}

.sidebar-green .menu-section ul li a.toggled {
    background: transparent;
}


.sidebar-green .menu-section ul li a i.fa-chevron-down {
    color: #fff;
}

.sidebar-green .menu-section ul li a .counter{
    background: #a8f3e4;
    color: #16a085;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-green .menu-section ul li>.submenu {
        background: #1abc9c;
    }
}

.sidebar-green .menu-section ul li>.submenu li a.active {
    background: #16a085;
}




/* NEW DARK BLUE VERSION: HER LOVES THAT  */ 

.sidebar-blue{
    background:  #1a2c47;
}

.sidebar-blue .current-user .name {
    color: #A0B4CC;
}

.sidebar-blue .current-user .name .avatar-text{
    background: #2ECC71;
}

.sidebar-blue .menu-section h3 {
    color: #A6AFBB;
}

.sidebar-blue .menu-section ul li a {
    color: #C1D0DF;
}


.sidebar-blue .menu-section ul li a:hover {
    color: #fff;
}

.sidebar-blue .menu-section ul li a.active{
    color: #2ECC71;
    background: #17273f;
}

.sidebar-blue .menu-section ul li a.toggled {
    background: #17273f;
    color: #fff;
}

.sidebar-blue .menu-section ul li a i.fa-chevron-down {
    color: #fff;
}

.sidebar-blue .menu-section ul li a .counter{
    background: #304159;
    color: #A0B4CC;
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-blue .menu-section ul li>.submenu {
        background: #1a2c47;
    }
}

.sidebar-blue .menu-section ul li>.submenu li a.active {
    background: #17273f;
}





