/* FORMS */
.input-center{
    display: inherit;
}

input.error{
    background: #FFCCCC;
}

.m-t-sxl {
    margin-top: 70px;
}

.m-t-xlg{
    margin-top:12rem;
}

.p-l-0{
    padding-left: 0;
}

.p-r-0{
    padding-right: 0;
}

a:hover{
    text-decoration:none;
}

/* PANEL WINDOW */

.modalize {
    min-height: 20em;
    max-height: 25em;
}

/*programación de horarios */

.horario {
    border-radius: 0.25em;
    display: inline;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    color:white;
}

.horas{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10em;
}


/* HORARIO */

.horario-curso{
    font-size:0.95em;
}


/* TEXT */

.subtext-sm{
    font-size: 12px;
    color: #666;
    display: block;
}


.subtext-xs{
    font-size: 11px;
    color: #666;
    display: block;
}


.capitalize{
    text-transform: capitalize;
}


/* LOGIN STYLES */



/*.login-bg {
    background: url("../images/dark.jpg") repeat;
}*/


#login .brand {
    text-align: center; 
    display: block;
    margin-top: 5%;
}

#login .login-box{
    margin-top: 25px;
    padding: 15px 30px;
    float: none;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff; 
}

#login .form-control {
    text-align: center;
}


#login h1{
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0;
    color: #3a5169;
}

#login h3{
    text-transform: uppercase;
    font-weight: 100;
    color: #3a5169;
}

#login .school{
    margin:10px 0 30px 0;
}

.school .name{
    width: 100%;
    text-align: center;
    float: left;
    padding-top: 10px;
}


#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:20px;  
    color: #F5F5F5;
    text-align: center;
}

#footer a:hover{
    color:#BFF6EB;
}

form{
    border: none;
}

/* ---------- Editor de preguntas ---------- */

.transparent_class a{ 
    visibility: hidden;
}
.pregunta_marco_desempeno:hover .transparent_class a{
    visibility: visible;
}
.pregunta_marco_desempeno{
    padding: 2em 3em 1.5em 3em;
    border: 2px dashed white;
    border-width: 1.5px;
}
.pregunta_marco_desempeno:hover{
    padding: 2em 3em 1.5em 3em;
    border: 2px dashed #e8e8e8;
    border-width: 1.5px;
}

div.pregunta_marco_desempeno:hover{
    cursor: move;
}


/*----------- WIZARD MODAL ----------------*/

.pager.wizard{
    margin: 0;
}

.tooltip-wide .tooltip {min-width: 350px; text-align: left;}


.bg-video{
    background: black;
}

.vbox > section.w-f-xl {
    bottom: 150px;
}

/*----------- PROFILE ----------------*/

.f-nav{ z-index: 999; position: fixed; left: 0; top: 0; width: 100%; margin-top: 50px;} 

.back-profile {
    background:rgba(10,10,10,0.1);
    background: url(../images/cover.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*---------------------------------------*/

.bg-login-left{
   width:230px;
   height: 400px;
   background:#ffd00a;
   display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login-right{
    width:400px;
   height: 400px;
   padding-top:4rem;
}
.login-bg {
    background: url(../images/back-login.jpg) no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back.jpg', sizingMethod = 'scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back.jpg', sizingMethod = 'scale');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text-intro{
    color:#fff;
    font-size:11px;
}

.text-title{
    font-size:20px;
    line-height:21px;
    font-weight:600;
    color:#2E4053;
}

.logo-login{
    width:170px;
}

.login-wrapper {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
}
.login-wrapper .logo {
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 45px;
    position: relative;
    left: -2px;
    text-shadow: 0.1em 0.1em 0.2em #000000;
    font-size: 30px;
}
.login-wrapper .box {
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    width: 400px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65);
}
.login-wrapper .box .content-wrap {
    width: 82%;
    margin: 0 auto;
}
.login-wrapper .box h6 {
    text-transform: uppercase;
    margin: 0 0 30px 0;
    font-size: 18px;
    font-weight: 600;
}
.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {
    font-size: 15px;
    height: 40px;
    margin-bottom: 18px;
    border-color: #b2bfc7;
    padding-left: 12px;
}
.login-wrapper .box input[type="password"] {
    margin-bottom: 10px;
}
.login-wrapper .box input:-moz-placeholder {
    color: #9ba8b6;
    font-size: 15px;
    letter-spacing: 0px;
    font-style: italic;
}
.login-wrapper .box input:-ms-input-placeholder {
    color: #9ba8b6;
    font-style: italic;
    letter-spacing: 0px;
    font-size: 15px;
}
.login-wrapper .box input::-webkit-input-placeholder {
    color: #9ba8b6;
    font-style: italic;
    letter-spacing: 0px;
    font-size: 15px;
}
.login-wrapper .box a.forgot {
    display: block;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
    color: #3d88ba;
    font-size: 13px;
    margin-bottom: 6px;
}
.login-wrapper .box .remember {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.login-wrapper .box .remember input[type="checkbox"] {
    float: left;
    margin-right: 8px;
}
.login-wrapper .box .remember label {
    float: left;
    color: #4a576a;
    font-size: 13px;
    font-weight: 600;
}
.login-wrapper .box .login {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 30px;
}
.login-wrapper .no-account {
    margin: 0 auto;
    float: none;
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
}
.login-wrapper .no-account p {
    display: inline-block;
    color: #aaaaaa;
}
.login-wrapper .no-account a {
    color: #aaaaaa;
    margin-left: 7px;
    border-bottom: 1px solid;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    /* Firefox 4 */
    -webkit-transition: all .1s linear;
    /* Safari and Chrome */
    -o-transition: all .1s linear;
    /* Opera */
}
.login-wrapper .no-account a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom-color: #fff;
}


/* responsive */
@media (max-width: 767px) {
    .login-wrapper .box {
        width: 350px;
    }
}
@media (max-width: 480px) {
    .login-wrapper .box {
        width: 90%;
    }
}


/* BITACORA */

.timeline.left:before {
    background-color: #ddd;
    bottom: 30px;
    content: "";
    left: 10%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0;
}


.timeline-caption.left {
    display: block;
    margin-left: 10%;
    vertical-align: top;
    width: 90%;
}


.arrow.right:after{
    border-left-color:#ebeef5;
}
.arrow.left:after{
    border-right-color:#ebeef5;
}



/* NAV BAR CENTER*/

.navbar-center{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}


.header .navbar-nav > li > a {
    padding: 16px;
}


/* LOGO */

.brand{
    font-weight: 400;
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: #fff;
}

.brand.purple{
    color: #A3A1F8;
}

.subbrand{
    color: #b2bfc7;
    font-size: 0.6em;
}


.datepicker {
    z-index: 99999 !important;
}

/* style venet fullcalendar*/
.fc-event-inner {
    white-space: nowrap;
    overflow: hidden;
}

.tooltip{
    z-index: 600000;
}

.tooltip-inner {
    min-width: 200px;
}

.centered-pills ul.nav-pills > li {
    margin: auto 15px;
}

.centered-pills ul.nav-pills > li > a{
    font-weight: bold;
}

.centered-pills ul.nav-pills > li > a > i{
    font-size: 1.4em;
    margin-right: 5px;
}

.centered-pills ul.nav-pills > li.active > a,
.centered-pills ul.nav-pills > li > a:hover{
    color: #fff !important;
}

.centered-pills.green ul.nav-pills > li.active > a,
.centered-pills.green ul.nav-pills > li > a:hover{
    color: #2ECC71 !important;
}


.profile-sidebar {
    background: #fff;
    height: 100%;
}
.profile-userpic{
    padding-top: 20px;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}
.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}
.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}
.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}
.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}







/* ALLL WITH BANNER */

.banner{
    background-size: cover;
    width: 100%; 
    height: 110px !important;
    margin-bottom: 20px;
    position: relative;
    padding: 20px 50px;
    z-index: 900;
}

.banner h1{
    color:white;
}

.vbox > header.banner ~ section{
    top: 160px;

}

.editor-toolbar .text-success{
    color: #2ECC71 !important;
}

.editor-toolbar .text-danger{
    color: #e74c3c !important;
}
.textarea-rv{
    resize: vertical;
}

.input-underline input[type="text"] {  
    border: none;
    border-bottom: dotted 1px #969696;
}

.cursor-grab {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.cursor-grab:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


/* DL Override For Details*/

.dl-horizontal{
    margin-top: 0;
    margin-bottom: 0px;
    border-bottom: thin dotted #ddd;
    border-top: thin dotted #ddd;
    margin-bottom: -1px;
    padding: 10px 5px;

}

.dl-horizontal dt {
    float: left;
    width: 100px;
    text-align: left;
    color: #60676b;
    font-weight: normal;
}

.dl-horizontal dd{
    margin-left: 110px;
    color: #666;
}

.no-scrollable{
    display: block;
    position: relative;
    height: 100%;
    overflow: hidden;
}


.avatar-text {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #3C4043;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-right: 8px;
    margin-top: -10px;
}

.form-group {
}

textarea {
    resize: vertical;
}
.z-unset{
    z-index: unset !important;
}

[v-cloak] {
    display: none;
}

.img-wrap {
    text-align: center;
}

.img-wrap img {
    display: block;
}
.imageContainer {
    text-align: center;
}
.imageContainer img {
    display: block;
}
.imageContainer div {
    position: relative;
    display: inline-block;
    /* if you need ie6/7 support */
    *display: inline;
    zoom: 1;
}
.imageContainer span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.5);
}

.img-wrap .close-img {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 100;
    border-radius: 50px;
}

.badge-danger {
    background-color: #E74C3C !important;
}

.badge-success {
    background-color: #5cb85c !important;
}
.image-N img {
}

.image-E img {
    transform: rotate(90deg);
}

.image-S img {
    transform: rotate(180deg);
}
.image-W img {
    transform: rotate(270deg);
}

.weekpicker .bootstrap-datetimepicker-widget table tbody tr:hover {
    background: #eee;
    cursor: pointer;
}


.datepicker {
    z-index: 99999 !important;
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050!important;
}
.bootstrap-timepicker-widget.dropdown-menu.open{
    position:absolute;
}

.value {
    display:block;
    background-color: white;
    border: 1px solid lightgrey;
    height:30px;
    padding: 4px 10px;
    border-radius: 0 4px 4px 0;
}

.td-resumen {
    padding-top: 23px !important;
    padding-bottom: 12px !important;

    .input-group {
        padding-left: 200px !important;
        font-size: 200px;
    }
}

.multiselect--active{
    z-index: 1000;
}

.multiselect__content-wrapper{
    z-index: 1000;
}

.raptor-table-process-main {
    position: absolute;
    z-index: 1000;
    top:50%;
    left:50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.raptor-table-process-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}

.raptor-table-process-text {
    font-size: 18px;
    background-color: #2E4053;
    font-weight: bold;
    color: #F2F3F4;
    padding: 20px;
    border-radius: 5px;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.head{
    background:#fff;
    padding:1.5rem;
}
.head h2{
    margin:0;
}
.head span{
    color:#666;
    font-weight:500;
}
.badge-color{
    background:#27ae60;
    padding:5px 15px;
    color:#fff !important;
    font-weight:500;
    font-size:14px;
}
.space{
    margin: 2rem;
}
.box{
    width: 48%;   
    margin-left:1rem;
    margin-right:1rem;
    padding: 1.5rem;
}
.box-full{
    width: 97.5%;
    margin-left:1rem;
    margin-right:1rem;
    padding: 2.5rem; 
}
.title{
    font-size:18px;
    font-weight:500;  
    margin-top: 0;
}
.btn-secondary{
    background:#aaaaaa;
}
.box:hover{
    box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.08);
    content: "\f095";
}
.ajustes{
    position:absolute;
    z-index:10;
    opacity: 0;
    right:0;
    margin-right: 20px;
}
.ajustes i{
    font-size:22px;
    color:#666;
}
.box:hover .ajustes{
    opacity:1;
}
.box-2{
    height:725px;
    /*display: flex;*/
    /*display: -webkit-flex;*/
    flex-wrap: wrap;
}

.multiselect__input, .multiselect__single {
    min-height: 0px!important;
    line-height: 0px!important;
}

.multiselect__select {
    height: 31px!important;
}

.multiselect--active {
    z-index: 1000;
}
.img-foto-tempo {
    width: 120px !important; 
    height: auto; 
    overflow: hidden;
    max-width: none;
}

.bold {
    font-weight: bold;
}

.div-foto-list {
    width: 120px; 
    height: 120px; 
    overflow: hidden;
}