<modal-vik ref="contactoModal"
           v-bind="contactoModal">

    <div slot="body">
        
        <table class="table table-striped">
            <tbody>
                <tr v-for="c in contacto.empresaContacto">
                    <td class="v-middle">
                        <span class="block text-primary" v-text="c.persona.nombreCompleto"></span>
                        <small class="block text-muted" v-text="c.cargo"></small>
                        <small class="block text-muted" v-text="c.persona.tipoDocumentoIdentidad.simbolo +  ' ' + c.persona.numeroDocIdentidad"></small>
                    </td>
                    <td class="v-middle">
                        <span v-if="c.email" class="block" v-bind:class="c.telefonos || c.celulares ? 'm-b-xs' : ''"><i class="fa fa-envelope-o"></i> {{c.email }}</span>
                        <span v-if="c.celulares" class="block" v-bind:class="c.telefonos ? 'm-b-xs' : ''">&nbsp;<i class="fa fa-mobile"></i> {{c.celulares}}</span>
                        <span v-if="c.telefonos" class="block"><i class="fa fa-phone"></i> {{c.telefonos}}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</modal-vik>