<html layout:decorator="_layout/side">
    <head>
        <title>Contactos</title>
        <style>
            .fileContainer {
                overflow: hidden;
                position: relative;
            }

            .fileContainer [type=file] {
                cursor: inherit;
                display: block;
                font-size: 999px;
                filter: alpha(opacity=0);
                min-height: 100%;
                min-width: 100%;
                opacity: 0;
                position: absolute;
                right: 0;
                text-align: right;
                top: 0;
            }

            /* Example stylistic flourishes */

            .fileContainer {
                color:#3b9ff3;  
                border-radius: .5em;
                float: left;
                padding: .5em;
            }

            .fileContainer [type=file] {
                cursor: pointer;
            }

        </style>
    </head>

    <body>
        <section layout:fragment="MAIN">

            <div  id="contactoVue" v-cloak="">


                <header class="header b-b padder-lg">
                    <h2>
                        Actualizar Datos
                    </h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">
                            <!--<div class="col-md-6">-->
                            <table class="m-t">
                                <tbody>
                                    <tr>
                                        <td class="col-lg-2 v-middle ">
                                            <div>
                                                <img v-bind:src="persona.fullRutaFotoDocumento" alt="..." class="div-foto-list img-responsive img-thumbnail img-circle"/>
                                            </div>

                                            <label class="fileContainer v-bottom m-t col-md-offset-1">
                                                Subir Archivo
                                                <input type="file" v-on:change="handleFileUpload" ref="file" id="file" />
                                            </label>
                                        </td>

                                        <td class="col-lg-10 v-middle">
                                            <div class='text-left'>
                                                <div class="row h5 m-t-n " >
                                                    <div class="col-lg-2 bold">Apellidos:</div>
                                                    <div class="col-lg-10" v-text="persona.apellidos"></div>
                                                </div>
                                                <div class="row h5 m-t-xs " >
                                                    <div class="col-lg-2 bold">Nombres:</div>
                                                    <div class="col-lg-10" v-text="persona.nombres"></div>
                                                </div>
                                                <div class="row h5 m-t-xs ">
                                                    <div class="col-lg-2 bold">Edad:</div>
                                                    <div class="col-lg-10" v-text="persona.edad"></div>
                                                </div>
                                                <div class="row h5 m-t-xs " v-if="persona.numeroDocIdentidad != '' ">
                                                    <div class="col-lg-2 bold" v-text="persona.tipoDocumentoIdentidad.simbolo"></div>
                                                    <div class="col-lg-10" v-text="persona.numeroDocIdentidad"></div>
                                                </div>
                                                <div class="row h5 m-t-xs ">
                                                    <div class="col-lg-2 bold">Cargo:</div>
                                                    <div class="col-lg-10" v-text="persona.cargo.nombre"></div>
                                                </div>
                                                <div class="row h5 m-t-xs">
                                                    <div class="col-lg-2 bold">Cursos:</div>
                                                    <div class="col-lg-10" v-text="persona.cursosConcat"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--</div>-->
                        </section>
                        <section class="panel-body">
                            <form class="row " name="form" data-parsley-validate="true" id="contacto">
                                <!--                                <div class="form-group col-md-12">
                                                                    <div class="col-md-6">
                                                                        <label>Nombre Completo</label>
                                                                        <input class="form-control" v-model="persona.nombreCompleto" disabled="" required=""/>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>Tipo Documento</label>
                                                                        <multiselect v-model='persona.tipoDocumentoIdentidad'
                                                                                     v-bind:internal-search='true'
                                                                                     v-bind:limit='15'
                                                                                     v-bind:options='tipoDocumentos'
                                                                                     placeholder="Seleccionar un cargo"
                                                                                     label='nombre'
                                                                                     track-by="id"
                                                                                     :allow-empty="false"
                                                                                     disabled="">
                                                                        </multiselect>
                                                                        <input class="hidden" v-model="persona.tipoDocumentoIdentidad.id"  required="" />
                                                                    </div>
                                                                </div>-->
                                <!--                                <div class="form-group col-md-12">
                                                                    <div class="col-md-6">
                                                                        <label>Número de documento</label>
                                                                        <input class="form-control" v-model="persona.numeroDocIdentidad" disabled="" required="" />
                                                                    </div>
                                                                </div>-->
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Email personal</label>
                                        <input class="form-control" v-model="persona.emailPersonal" required=""/>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email Compania</label>
                                        <input class="form-control" v-model="persona.emailCompania" required=""/>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Celular</label>
                                        <input class="form-control" v-model="persona.celular" required=""/>
                                    </div>

                                    <div class="col-md-6">
                                        <label>País de nacimiento</label>
                                        <multiselect v-model='persona.paisNacer'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-on:search-change="searchPais"
                                                     v-bind:options='paises'
                                                     track-by="id"
                                                     placeholder="Ingresa un caracter como mínimo"
                                                     label='nombre'>
                                        </multiselect>
                                        <input class="hidden" v-model="persona.paisNacer.id" required=""/>
                                    </div>

                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Lugar de nacimiento</label>
                                        <multiselect v-model='persona.provinciaNacer'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-on:search-change="searchProvincia"
                                                     v-bind:options='provincias'
                                                     track-by="id"
                                                     placeholder="Ingresa un caracter como mínimo"
                                                     label='nombre'>
                                        </multiselect>
                                        <input class="hidden" v-model="persona.provinciaNacer.id" required=""/>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Dirección actual</label>
                                        <textarea class="form-control" v-model="persona.direccion" required=""> </textarea>
                                    </div>
                                    <!--                                    <div class="col-md-6">
                                                                            <label>Cargo</label>
                                                                            <multiselect v-model='persona.cargo'
                                                                                         v-bind:internal-search='false'
                                                                                         v-bind:limit='15'
                                                                                         v-bind:options='cargos'
                                                                                         placeholder="Seleccionar un cargo"
                                                                                         label='nombre'
                                                                                         track-by="id"
                                                                                         disabled="">
                                                                            </multiselect>
                                                                            <input class="hidden" v-model="persona.cargo.id" required=""/>
                                                                        </div>-->
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Pasa tiempo</label>
                                        <input class="form-control" v-model="persona.hobby" required=""/>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Último trabajo</label>
                                        <input class="form-control" v-model="persona.ultimoWork" required=""/>
                                    </div>

                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Sexo</label>
                                        <div class="form-group">
                                            <div class="col-md-3">

                                                <label class="radio inline">

                                                    <input  type="radio"
                                                            required="true"
                                                            name="persona.sexo"
                                                            v-model="persona.sexo"
                                                            id="inlineCheckbox1"
                                                            value="M"
                                                            /> Masculino
                                                    <!--   th:checked="${alumno.persona.sexo=='M'}" -->
                                                </label>

                                            </div>
                                            <div class="col-md-3">

                                                <label class="radio inline">
                                                    <input  type="radio"
                                                            required="true"
                                                            name="persona.sexo"
                                                            v-model="persona.sexo"
                                                            id="inlineCheckbox2"
                                                            value="F"
                                                            /> Femenino
                                                    <!--  th:checked="${alumno.persona.sexo=='F'}" -->
                                                </label>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--                                <div class="form-group col-md-12">
                                                                    <div class="col-md-6">
                                                                        <label>Cursos</label>
                                                                        <input  class="form-control" v-model="persona.cursosConcat" disabled=""/>                                       
                                                                    </div>
                                                                </div>-->
                            </form>
                            <hr/>
                            <div class="col-md-12 text-center">
                                <button type="button" 
                                        class="btn btn-success" 
                                        v-text="'Actualizar'"  
                                        v-on:click.prevent="update"></button>
                            </div>
                        </section>
                    </section>
                </section>

                <!--<div th:replace="general/contacto/personaDireccionModal"></div>-->
            </div>



        </section>

        <div layout:fragment="JS" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var personaJson = /*[[${persona.toString()}]]*/ '';
                var cargosJson = /*[[${cargos.toString()}]]*/ '';
                var cursosJson = /*[[${cursos.toString()}]]*/ '';
                var tipoDocumentosJson = /*[[${tipoDocumentos.toString()}]]*/ '';
                /*]]>*/
            </script> 
            <div th:replace="_modules/vue-modal"></div>
            <script th:src="@{/app/general/contacto/contactoForm.js}" charset="utf-8"></script>
        </div>

    </body>
</html>