<html layout:decorator="_layout/side">
    <head>
        <title>Contactos</title>
    </head>

    <body>
        <section layout:fragment="MAIN">

            <div id="vue-contacto" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md">                
                        <a class="btn btn-success btn-sm" type="button" th:href="@{/general/contacto/nuevo}">Nuevo</a>
                    </div>  

                    <h2>Contactos</h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">

                        <section class="panel-body">

                            <raptor-table ref="raptor"  v-bind:searcher="true"  v-bind:afterupdate="afterUpdate"  v-bind:url="postulanteUrl">

                                <div slot="header">

                                    <div class="col-sm-6">


                                        <multiselect
                                            v-model="tagselect"
                                            label="tag"
                                            track-by="tag"
                                            v-bind:options="tags"
                                            v-bind:multiple="true"
                                            v-bind:clear-on-select="true"
                                            v-bind:show-labels="false"
                                            v-bind:taggable="false"
                                            v-on:input="changeFilter"
                                            v-bind:close-on-select="true"
                                            placeholder="">
                                        </multiselect> 

                                    </div>

                                </div>

                                <template scope="props">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="v-middle col-md-4"></th>
                                                <th class="v-middle col-md-2">Contacto</th>
                                                <th class="v-middle col-md-1 text-center">Contactos</th>
                                                <th class="v-middle col-md-1 text-center">Dirección</th>
                                                <th class="v-middle col-md-1 text-center">Cuenta</th>
                                                <th class="v-middle col-md-3">Categorías</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data"> 
                                                <td class="v-middle">

                                                    <span v-if="item.tipoContacto == 'PERSONA'" class="block text-primary text-md">{{ item.persona.nombreCompleto }} </span>
                                                    <small v-if="item.tipoContacto == 'PERSONA'" class="block text-muted">{{ item.persona.tipoDocumentoIdentidad.simbolo + ' ' + item.persona.numeroDocIdentidad }} </small>

                                                    <span v-if="item.tipoContacto == 'EMPRESA'" class="block text-primary text-md">{{ item.empresa.nombreComercial }} </span>
                                                    <small v-if="item.tipoContacto == 'EMPRESA'" class="block text-muted">{{ item.empresa.tipoDocumento.simbolo + ' ' + item.empresa.numeroDocIdentidad }} </small>
                                                    <small v-if="item.tipoContacto == 'EMPRESA'" class="block text-muted">{{ item.empresa.razonSocial }} </small>
                                                </td>
                                                <td class="v-middle">

                                                    <small v-if="item.tipoContacto == 'PERSONA'" class="block"><i class="fa fa-mobile"></i> {{item.celulares}}</small>
                                                    <small v-if="item.tipoContacto == 'PERSONA'" class="block"><i class="fa fa-phone"></i> {{item.telefonos}}</small>
                                                    <small v-if="item.tipoContacto == 'PERSONA'" class="block"><i class="fa fa-envelope-o"></i> {{item.email }}</small>
                                                    <small v-if="item.tipoContacto == 'PERSONA'" class="block"><i class="fa fa-globe"></i> {{item.persona.website}}</small>

                                                    <small v-if="item.tipoContacto == 'EMPRESA'" class="block"><i class="fa fa-mobile"></i> {{item.celulares}}</small>
                                                    <small v-if="item.tipoContacto == 'EMPRESA'" class="block"><i class="fa fa-phone"></i> {{item.telefonos}}</small>
                                                    <small v-if="item.tipoContacto == 'EMPRESA'" class="block"><i class="fa fa-envelope-o"></i> {{item.email }}</small>
                                                    <small v-if="item.tipoContacto == 'EMPRESA'" class="block"><i class="fa fa-globe"></i> {{item.persona.website}}</small>

                                                </td>

                                                <td class="v-middle text-center">
                                                    <div v-show="item.empresa.empresaContacto.length > 0">
                                                        <span class="badge pointer" v-on:click="verContactos(item)">
                                                            {{item.empresa.empresaContacto.length}}
                                                        </span>
                                                    </div>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <div v-show="item.persona.personaDireccion.length > 0">
                                                        <a tabindex="0" 
                                                           class="btn btn-link" 
                                                           role="button"
                                                           data-toggle="popover" 
                                                           data-trigger="focus" 
                                                           title="Direcciones" 
                                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                                            <i class="fa fa-home" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <div v-show="item.persona.personaCuenta.length > 0">
                                                        <a tabindex="0" 
                                                           class="btn btn-link" 
                                                           role="button" data-toggle="popover" 
                                                           data-trigger="focus" 
                                                           title="Cuentas" 
                                                           data-content="And here's some amazing content. It's very engaging. Right?">
                                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                                <td class="v-middle">

                                                    <span v-for="tagg in item.tag"  class="label m-l-sm" v-bind:class="getclasstag(tagg)"  >{{tagg.tag}}</span>

                                                </td>

                                                <td class="v-middle"> 
                                                    <div class="dropdown actions">

                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                                        </a> 

                                                        <ul class="dropdown-menu pull-right">
                                                            <li>
                                                                <a v-bind:href="'/general/contacto/contacto/' + item.id + '/update'">
                                                                    Editar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="pointer" v-on:click="deleteItem(item)">Eliminar</a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>

                            </raptor-table>

                            <div th:replace="general/contacto/contactoModal"></div>

                        </section>
                    </section>
                </section>

            </div>

        </section>

        <div layout:fragment="JS" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var tagsJson = /*[[${tags.toString()}]]*/ '';
                /*]]>*/
            </script> 
            <div th:replace="_modules/vue-modal"></div>
            <div th:replace="_modules/vue-raptor-table"></div>
            <div th:replace="_modules/vue-empresa-contacto"></div>
            <script th:src="@{/app/general/contacto/contactoList.js}" charset="utf-8"></script>
        </div>
    </body>
</html>