<html layout:decorator="_layout/side">
    <head>
        <title>Contactos</title>
    </head>

    <body>
        <section layout:fragment="MAIN">

            <div  id="contactoVue" v-cloak="">


                <header class="header b-b padder-lg">
                    <h2 v-if="persona.id == null">
                        Nuevo Personal
                    </h2>
                    <h2 v-else="">
                        Actualizar Personal
                    </h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">
                            <div class="m-b-lg col-md-12"  v-if="persona.id != null">
                                <img v-bind:src="persona.fullRutaFotoDocumento" alt="..." class="div-foto-list img-responsive img-thumbnail img-circle"/>
                            </div>
                            <form class="row " name="form" data-parsley-validate="true" id="contacto">
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Tipo Documento</label>
                                        <multiselect v-model='persona.tipoDocumentoIdentidad'
                                                     v-bind:internal-search='true'
                                                     v-bind:limit='15'
                                                     v-bind:options='tipoDocumentos'
                                                     placeholder="Seleccionar un cargo"
                                                     label='nombre'
                                                     track-by="id"
                                                     :allow-empty="false"
                                                     v-on:input="searchDoc">
                                        </multiselect>
                                        <input class="hidden" v-model="persona.tipoDocumentoIdentidad.id"  required="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Número de documento</label>
                                        <input class="form-control" v-model="persona.numeroDocIdentidad" required="" v-on:change="searchDoc"/>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Apellidos</label>
                                        <input class="form-control" v-model="persona.apellidos" required=""/>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Nombres</label>
                                        <input class="form-control" v-model="persona.nombres" required=""/>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Email personal</label>
                                        <input class="form-control" v-model="persona.emailPersonal" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email Compania</label>
                                        <input class="form-control" v-model="persona.emailCompania" required=""/>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Celular</label>
                                        <input class="form-control" v-model="persona.celular" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>País de nacimiento</label>
                                        <multiselect v-model='persona.paisNacer'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-on:search-change="searchPais"
                                                     v-bind:options='paises'
                                                     track-by="id"
                                                     placeholder="Ingresa un caracter como mínimo"
                                                     label='nombre'>
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Lugar de nacimiento</label>
                                        <multiselect v-model='persona.provinciaNacer'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-on:search-change="searchProvincia"
                                                     v-bind:options='provincias'
                                                     track-by="id"
                                                     placeholder="Ingresa un caracter como mínimo"
                                                     label='nombre'>
                                        </multiselect>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Dirección actual</label>
                                        <textarea class="form-control" v-model="persona.direccion" > </textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Cargo</label>
                                        <multiselect v-model='persona.cargo'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-bind:options='cargos'
                                                     placeholder="Seleccionar un cargo"
                                                     label='nombre'
                                                     track-by="id">
                                        </multiselect>
                                        <input class="hidden" v-model="persona.cargo.id" required=""/>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Pasa tiempo</label>
                                        <input class="form-control" v-model="persona.hobby" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Último trabajo</label>
                                        <input class="form-control" v-model="persona.ultimoWork" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cursos</label>
                                        <multiselect v-model='persona.cursos'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-bind:options='cursos'
                                                     placeholder="Seleccionar un cargo"
                                                     :multiple="true"
                                                     :taggable="true" 
                                                     track-by="id"
                                                     tag-placeholder="Add this as new tag"
                                                     label='codigo'>
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label>Sexo</label>
                                        <div class="form-group">
                                            <div class="col-md-3">

                                                <label class="radio inline">

                                                    <input  type="radio"
                                                            required="true"
                                                            name="persona.sexo"
                                                            v-model="persona.sexo"
                                                            id="inlineCheckbox1"
                                                            value="M"
                                                            /> Masculino
                                                    <!--   th:checked="${alumno.persona.sexo=='M'}" -->
                                                </label>

                                            </div>
                                            <div class="col-md-3">

                                                <label class="radio inline">
                                                    <input  type="radio"
                                                            required="true"
                                                            name="persona.sexo"
                                                            v-model="persona.sexo"
                                                            id="inlineCheckbox2"
                                                            value="F"
                                                            /> Femenino
                                                    <!--  th:checked="${alumno.persona.sexo=='F'}" -->
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Roles</label>
                                        <multiselect v-model='persona.roles'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-bind:options='roles'
                                                     placeholder="Seleccionar roles"
                                                     :multiple="true"
                                                     :taggable="true" 
                                                     track-by="id"
                                                     tag-placeholder="Add this as new tag"
                                                     label='nombre'>
                                        </multiselect>
                                        <input class="hidden" v-model="persona.roles"  required="" />
                                    </div>
                                </div>
                            </form>
                            <hr/>
                            <div class="col-md-12 text-center">

                                <button v-if="persona.id == null" type="button" 
                                        class="btn btn-success" 
                                        v-text="'Guardar'"  
                                        v-on:click.prevent="save"></button>
                                <button v-else="" type="button" 
                                        class="btn btn-success" 
                                        v-text="'Actualizar'"  
                                        v-on:click.prevent="update"></button>
                            </div>
                        </section>
                    </section>
                </section>

                <!--<div th:replace="general/contacto/personaDireccionModal"></div>-->
            </div>



        </section>

        <div layout:fragment="JS" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var rolesJson = /*[[${roles.toString()}]]*/ '';
                var personaJson = /*[[${persona.toString()}]]*/ '';
                var cargosJson = /*[[${cargos.toString()}]]*/ '';
                var cursosJson = /*[[${cursos.toString()}]]*/ '';
                var tipoDocumentosJson = /*[[${tipoDocumentos.toString()}]]*/ '';
                /*]]>*/
            </script> 
            <div th:replace="_modules/vue-modal"></div>
            <script th:src="@{/app/general/contacto/contactoNuevoForm.js}" charset="utf-8"></script>
        </div>

    </body>
</html>