<modal-vik ref="archivoModal"
           v-bind="archivoModal"
           v-bind:okaction="subirArchivo">

    <div slot="body">
        <div class="row" data-parsley-validate="true" id="form">
            <div class="form-group">
                <div class="col-md-8">
                    <label>
                        Archivo
                    </label>
                    <input type="file" id="file" ref="file" v-on:change="getFile()"/>
                </div>
            </div>
        </div>
    </div>
</modal-vik>