<html layout:decorator="_layout/side">
    <head>
        <title>Trabajadores</title>
    </head>

    <body>
        <section layout:fragment="MAIN">

            <div id="trabajadoresVue" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="btn-group pull-right" v-if="isAdmin">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            &nbsp; Acciones &nbsp; <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/general/contacto/nuevo">Nuevo Trabajador</a></li>
                            <li><a href="">Descargar Excel</a></li>
                            <li><a  v-on:click="openModal">Subir Archivo</a></li>
                            <li><a v-on:click="procesarArchivo">Procesar Archivo</a></li>
                        </ul>
                    </div>

                    <h2>Trabajadores</h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">

                        <section class="panel-body">

                            <raptor-table ref="trabajadorRaptor" v-bind:url="trabajadoresURL">
                                <div slot="header">   
                                    <div class="col-md-6">      
                                        <div class="bold">Cargo</div>
                                        <multiselect v-model='cargo'
                                                     v-bind:internal-search='false'
                                                     v-bind:limit='15'
                                                     v-bind:options='cargos'
                                                     placeholder="Seleccionar un cargo"
                                                     label='nombre'
                                                     track-by="id"
                                                     v-on:input="changeRaptor"
                                                     >
                                        </multiselect>
                                    </div>
                                </div>
                                <template scope="props">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-4" colspan="2"></th>
                                                <th class="col-md-3 text-center">Cursos</th>
                                                <th class="col-md-3 text-center">Fecha Ingreso</th>
                                                <th class="col-md-3 text-center">Fecha Retiro</th>
                                                <th class="col-md-3 text-center">Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data"> 
                                                <td class="v-middle">
                                                    <div class="pull-left">
                                                        <img class="div-foto-list img-responsive img-thumbnail img-circle" 
                                                             v-bind:src="item.fullRutaFotoDocumento" />
                                                    </div>
                                                </td>
                                                <td class="v-middle">
                                                    <a class="block text-primary bold h5 m-b-xs m-t-xs" >
                                                        {{item.nombreCompleto}}
                                                    </a>
                                                    <span class="block">
                                                        Cargo: {{item.cargo.nombre}}
                                                    </span>
                                                    <span v-if="item.celular != '' " class="block">
                                                        Teléfono: {{item.celular}}
                                                    </span>
                                                    <span v-if="item.emailCompania != '' " class="block">
                                                        Email Compania: {{item.emailCompania}}
                                                    </span>
                                                    <small v-if="item.numeroDocIdentidad != '' " class="block bold">
                                                        {{item.tipoDocumentoIdentidad.simbolo}} {{item.numeroDocIdentidad}}
                                                    </small>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <span v-for="cur in item.cursos">
                                                        <a class="label label-success m-l-xs" v-text="cur.codigo" data-toggle="tooltip" v-bind:title="cur.nombre" href="#"></a>
                                                    </span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <span v-text="item.fechaIngreso"></span>
                                                </td >
                                                <td class="v-middle text-center">
                                                    <span v-text="item.fechaRetiro"></span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <span v-if="item.estado == 'ACT'" class="label label-success" v-text="item.estadoEnum.value"></span>
                                                    <span v-else="" class="label label-danger" v-text="item.estadoEnum.value"></span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <div class="actions" v-if="item.estado == 'ACT' &amp;&amp; isAdmin">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a class="pointer" v-on:click="updateUrl(item)">Actualizar Trabajador</a></li>
                                                            <li><a class="pointer" v-on:click="retirar(item)">Retirar Trabajador</a></li>
                                                            <li><a class="pointer" v-bind:href="'/general/contacto/downloadPDF/'+item.id">Fotocheck</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>

                            </raptor-table>

                            <div th:replace="general/trabajadores/archivoModal"></div>

                        </section>
                    </section>
                </section>

            </div>

        </section>

        <div layout:fragment="JS" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var cargosJson = /*[[${cargos.toString()}]]*/ '';
                var isAdmin = /*[[${isAdmin}]]*/ '';
                /*]]>*/
            </script> 
            <div th:replace="_modules/vue-modal"></div>
            <div th:replace="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/general/trabajadores/trabajadores.js}" charset="utf-8"></script>
        </div>
    </body>
</html>