<!DOCTYPE html>
<html>

    <head>
        <title>Foto de Pago</title>
        <meta charset="utf-8"/>
        <style>
            /*            body, html, div, span, table, tr, td{
                            border: 1px;
            
                        }*/

            .header1, .header1 table {
                width: 91%;
                border: 1px
            }
            .titulo-1 {
                font-size: 10px;

            }
            .titulo-2 {
                font-size: 16px;

            }
            .titulo-3 {
                font-size: 8px;
                /**/
            }
            .fondo{
                background-image: url('fotocheck.png');
                background-position: top;
                height: 5.5cm;
                width: 9cm;
            }
            .box_img{
                padding-left:  215px;
                padding-top: 10px;
            }

        </style>
    </head>
    <body >
        <div class="fondo">
            <table style=" width: 91% " >
                <tr>
                    <td class="box_img" >
                        <span  >
                            <img th:src="${rutaFoto}"    height="95" width="80"  />
                        </span>
                    </td>
                </tr>
                <tr >
                    <td style="font-size: 8px; display:block ; padding-top: 20px; text-align: center;">
                        <span >
                            <span class="titulo-1" th:text="${nombre}">  </span>
                        </span>
                        <p>     
                            <span  th:text="${cargo}">  </span>
                        </p>
                    </td>
                </tr>
            </table> 
        </div>
        <span>
            ---------
        </span>
        <div class="fondo" >
            <table >          

                <tr th:if="${tipoDocumento}">
                    <td style="width: 90px ; padding-top: 2cm;  padding-left: 0.3cm">
                        <span >
                            <span  style="font-size: 8px ; font-weight: bold;"  th:text="${tipoDocumento} + ':'">  </span>
                        </span>
                    </td>
                    <td style=" width: 120px ;padding-top: 2cm;">
                        <span >
                            <span  style="font-size: 8px;" th:text="${numeroDocumento}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${sexo}">
                    <td style="width: 90px ;  padding-left: 0.3cm">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;" >Sexo:</span>
                        </span>
                    </td>
                    <td >
                        <span >
                            <span style="font-size: 8px; " th:text="${sexo}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${edad}">
                    <td style="width: 90px ; padding-left: 0.3cm">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;"  >Edad:</span>
                        </span>
                    </td>
                    <td >
                        <span >
                            <span style="font-size: 8px; " th:text="${edad}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${celular}">
                    <td style="width: 90px ;  padding-left: 0.3cm">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;" >Celular:</span>
                        </span>
                    </td>
                    <td >
                        <span >
                            <span style="font-size: 8px; " th:text="${celular}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${fechaNacer}">
                    <td style="width: 90px ; padding-left: 0.3cm ">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;" >F. Nac.:</span>
                        </span>
                    </td>
                    <td >
                        <span >
                            <span  style="font-size: 8px; " th:text="${fechaNacer}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${fechaIngreso}">
                    <td style="width: 90px ; padding-left: 0.3cm">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;" >F. Ing.:</span>
                        </span>
                    </td>
                    <td >
                        <span >
                            <span style="font-size: 8px; " th:text="${fechaIngreso}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${ultimoTrabajo}">
                    <td style="width: 90px ; padding-left: 0.3cm">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;" >Últ. Trabajo:</span>
                        </span>
                    </td>
                    <td >
                        <span >
                            <span style="font-size: 8px; " th:text="${ultimoTrabajo}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${hobbie}">
                    <td style="width: 90px ; padding-left: 0.3cm">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;" >Hobbie:</span>
                        </span>
                    </td>
                    <td >
                        <span >
                            <span style="font-size: 8px; " th:text="${hobbie}">  </span>          
                        </span>
                    </td>
                </tr>
                <tr th:if="${cursos} != '/'" >
                    <td style="width: 90px ;  padding-left: 0.3cm">
                        <span >
                            <span style="font-size: 8px ; font-weight: bold;" >Cursos:</span>
                        </span>
                    </td>
                    <td >
                        <p >
                            <span style="font-size: 8px;" th:text="${cursos}">  </span>          
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>